{% extends 'base.html.twig' %}

{% block title %}Login de Usuarios{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Login de Usuarios</h2>

    {% if error %}
        <div class="alert-error">
            {{ error.messagekey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if app.user %}
        {{dump(app.user)}}
    {% endif %}

    {{ error }}
    <form action="{{ path('login') }}" method="POST">
        <label for="username">Email</label>
        <input type="email" id="username" name="_username" value="{{ last_username}}" />

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="_password" />
    
        <div class="clearfix"></div>

        <input type="submit" value="Entrar" />
    </form>
</div>
{% endblock %}